<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product List</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<style>
.center {
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>
	<div th:replace="../static/index :: index"></div>
	<div class="container">
		<h3 class="center" style="margin-top:10%;margin-left:15%">List of Products</h3>
		<hr />
		<a th:href="@{/addProduct}" style="margin-left:10%" class="btn btn-primary">Add Product</a> <br />
		<br />
		<table class="table table-bordered table-striped center"
			style="width: 80%">
			<thead>
				<tr style="text-align: center; vertical-align: middle">
					<th>Product Id</th>
					<th>Product Name</th>
					<th>Category</th>
					<th>Price</th>
					<th colspan=2 align="center" width="30%">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product: ${products}">
					<td th:text="${product.id}" />
					<td th:text="${product.name}" />
					<td th:text="${product.category}" />
					<td th:text="${product.price}" />
					<td><a th:href="@{/updateProduct(id=${product.id})}"
						class="btn btn-info">Update</a></td>
					<td><a th:href="@{/deleteProduct(id=${product.id})}"
						class="btn btn-info">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>